/* todos los elementos HTML, 'reset' quitando estilos del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: order-box;
  }

    /* todos los elementos HTML en el cuerpo (atributos generales de la pagina) */
    body {
        font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
        line-height: 1.6;
        background: linear-gradient(to bottom, rgb(245, 233, 215), OldLace);
        color: #212529;
        padding: none;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow-x: hidden;
      }

    
    /* Estilo del título */
    h1 {
        font-size: 2rem;
        color: #2c3e50;
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
    }

    /* Estilo del párrafo */
    p {
        font-size: 1.5rem;
        color: #555;
        margin-top: 50px;
        max-width: 600px;
    }

    .campo {
        font-size: 1.1rem;
        color: #555;
        margin-top: 25px;
        height: 2rem;
        margin-left: 10px;
        font-weight: 500;
        width: 75%;
        border-radius: 10px;
        padding-left: 15px;
    }

    .boton-registro{
      display: inline-block;
      padding: 13px;
      margin-top: 20px;
      background: #d94b71;
      color: floralwhite;
      border-radius: 30px;
      width:12%;
      font-size: 1.3rem;
      text-decoration: none;
    }
  
    .boton-registro:hover {
      transform:scale(1.03); /*Zoom*/
      filter: drop-shadow(0 0 8px rgba(0,0,0,0.2));
      background: #d33962;
    }

    .boton-ingresar{
        display: inline-block;
        padding: 13px;
        margin-top: 30px;
        margin-bottom: 50px;
        background: #d94b71;
        color: floralwhite;
        border-radius: 30px;
        width:30%;
        font-size: 1.2rem;
        text-decoration: none;
      }

      .boton-ingresar:hover {
        transform:scale(1.03); /*Zoom*/
        filter: drop-shadow(0 0 8px rgba(0,0,0,0.2));
        background: #d33962;
      }
    
      .boton-recuperar:hover {
        transform:scale(1.03); /*Zoom*/
        filter: drop-shadow(0 0 8px rgba(0,0,0,0.3));
        font-weight: 550;
      }
    
      .boton-recuperar{
        font-size: 1.2rem;
        text-decoration: none;
        color: #2c3e50;
        max-width: 200px;
      }

      .boton-x:hover {
        transform:scale(1.04); /*Zoom*/
        filter: drop-shadow(0 0 8px rgba(0,0,0,0.3));
        font-weight: 630;
      }
    
      .boton-x {
        font-size: 2rem;
        text-decoration: none;
        color: #2c3e50;
        margin-bottom: 50px;
        margin-left: 80px;
        margin-right: auto; /* Esto podría no ser lo ideal para un botón circular */
        top: 0; /* Esto solo funciona en elementos posicionados */
        font-weight: 500;
        background-color: OldLace;
        /* Ajusta el tamanio */
        width: 50px;
        height: 50px;
        /* border-radius: 50%;  Para hacerlo completamente circular */
        border-radius: 50%; /* La mitad del ancho/alto para un círculo perfecto */
        filter: drop-shadow(0 0 8px rgba(0,0,0,0.1));
        display: inline-block; /* Recomendado para controlar ancho y alto si es un enlace */
        text-align: center; /* Centra el texto horizontalmente */
        line-height: 42px; /* Centra el texto verticalmente si usas ancho/alto fijo */
      }

    .contenedor-formulario {
        background-color: OldLace;   /* Centra verticalmente (útil si hay texto) */
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 25px;
        padding: 30px;
        width: 450px;
        padding-bottom: 60px;
        filter: drop-shadow(0 0 8px rgba(0,0,0,0.2));
      }

@media (orientation: portrait) {

  body{
    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }

  .boton-registro{
    width:30%;
  }
        
  .boton-x{
      margin-bottom: 30px;
      margin-left: 20px;
  }

  .contenedor-formulario {
    width: 80%;
  }

  .campo{
    margin-top: 10px;
  }

  .boton-ingresar{
    width:50%;
    margin-top: 10px;
  }
}