/* todos los elementos HTML, 'reset' quitando estilos del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* todos los elementos HTML en el cuerpo (atributos generales de la pagina) */
  body {
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    background: OldLace;
    color: #212529;
    padding: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    color: inherit; /* Mantiene el color del texto original */
  }
  
  a:hover {
    text-decoration: none;
  }

  /* Estilo del título */
  h1 {
    font-size: 3.5rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }

  /* Estilo del título */
  h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #2c3e50;
  }
  
  /* Estilo del párrafo */
  p {
    font-size: 1.5rem;
    color: #4d4d4d;
    margin-top: 1rem;
    max-width: 870px;
    text-align: justify;
  }

  .main{
    display: flex;
    flex-direction: column;
    background: rgb(245, 233, 215);
    padding: 3rem;
    border-radius: 3%;
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.3));
    justify-content: center;
  }

  .main:hover{
    transform:scale(1.03); /*Zoom*/
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.5));
  }

  .luis{
    object-fit: contain;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: none;
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.5));
    border-radius: 2%;
  }

  .footer{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 50px;
    background-color: OldLace;
    bottom: 0;          /* Pegada arriba */
    left: 0;         /* Pegada a la izquierda */
    width: 100%;     /* Ancho completo */
    z-index: 1000;
    margin-top: 180px;
  }

  .barra-superior{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15px;
    padding-bottom: 12px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(40px); /* Efecto de desenfoque en el fondo */
    position: fixed;  /* Fija la barra */
    top: 0;          /* Pegada arriba */
    left: 0;         /* Pegada a la izquierda */
    width: 100%;     /* Ancho completo */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    gap: 34%;
  }

  .espacio-inicio{
    height: 200px;
  }

  /*Estilo imagen*/
  .logo {
    width: 80px;
    object-fit: contain;
    margin-top: 0.3rem;
    margin-left: auto;
    margin-left: 3rem;
    transition: all 0.3s ease;
  }

  .logo:hover {
    transform:scale(1.03); /*Zoom*/
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.3));
  }

    /* Ajuste para pantallas 1440p o superiores */
  @media (min-width: 2560px) {
      .content-container {
          backdrop-filter: blur(60px); /* Más difuminado en 4K */
      }
  }

@media (orientation: portrait) {

  * {
    padding-left: 5%;
    padding-right: 5%;
  }

  .espacio-inicio{
    height: 150px;
  }

  .main{
    max-width: 80%;
  }

  .main:hover{
    transform: none; /*Zoom*/
  }

  .logo {
    max-width: 60px;
    margin-left: auto;
    margin-left: 0.7rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-right: 10px;
  }

  .barra-superior{
    gap: 5%;
    backdrop-filter: blur(30px); /* Más difuminado en 4K */
  }

  .button {
    font-size: 1.1rem;
    margin-top: 50px;
    margin-right: 1.4rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-left: 12px;
    margin-right: 12px;
    max-width: 80%;
  }

  .footer{
    display: block;
    margin-top: 120px;
  }
}