<!DOCTYPE html>
<html lang="es">
    <head>
        <title>No encontrado</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/notFound.css">
        <link rel="shortcut icon" href="images/logoHeartenic.png">
    </head>
    <body>
        <h1>404</h1>
        <p>Recurso no encontrado</p>
        <p class="texto-secundario">
            Estamos trabajando para traerte la mejor experiencia.
        </p>
        <a href="views/index.html" class="boton-volver">
            volver
        </a>
    </body>
</html>