<!DOCTYPE html>
<html lang="es">

<!-- Head pagina heartenic -->
  <head>
    <title>Heartenic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="images/logoHeartenic.png">
  </head>

  <body>
<!-- Barra fija superior -->
    <div class="barra-superior">
      <a href = "index.html">
        <img class="logo" src="images/logoHeartenic.png" alt="Logo Heartenic">
      </a>
      <h1>Heartenic</h1>
      <a class="login" href = "logInSoon.html">
        Iniciar sesión
      </a>
    </div>

<!-- Inicio pagina -->
  <div class="landing">

      <img class="texto-main" src="images/TextoMainFrase.png" alt="Bienestar real, tecnología con propósito.">

      <!-- botones a redes -->
      <div class="socials-grid">

        <div class="logo-container">      
          <a href="https://www.instagram.com/heartenic/" target="_blank">
            <img class="socials-logo" src="images/logoIG.png" alt="Logo Instagram">
          </a>
        </div>

        <div class="logo-container">
          <a href = "https://www.youtube.com/@Heartenic" target="_blank">
            <img class="socials-logo" src="images/logoYT.png" alt="Logo Youtube">
          </a>
        </div>
      </div>

      <!-- Icono bajar (solo mobile) -->
      <div class="icono-bajar">
        <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
          <!-- Círculo exterior -->
          <circle cx="12" cy="12" r="10" fill="none" stroke="ivory"/>
          
          <!-- Flecha (animada con clase scroll-arrow) -->
          <path class="scroll-arrow" d="M12 8v8m0 0l-3-3m3 3l3-3" stroke="ivory" stroke-width="2"/>
        </svg>
      </div>
  </div>

  <h2>Conoce más</h2>

  <div class="grid-grid">
    <div class="grid-container">
      <!-- Conócenos -->
      <a class="content-container" href="about.html">
        <h3>Conócenos Mejor</h3>
        <div class="linea-horizontal"></div>
        <p class="texto-contenido">Atrevete a descubrir quiénes somos y lo que nos impulsa a crear.</p>
        <div class="contenedor-imagen" style="background-color: pink;">
          <img class="imagen-contenido" src="images/conocenosTres.png" alt="imagen una persona floreciendo">
        </div>
        <p style="text-align: center;">Leer más ></p>
      </a>

      <!-- Meditador -->
      <a class="content-container" href="meditador.html">
        <h3>El Meditador de Bolsillo</h3>
        <div class="linea-horizontal"></div>
        <p class="texto-contenido">Tu pausa, en cualquier lugar.</p>
        <div class="contenedor-imagen" style="background-color: #ffffbf;">
          <img class="imagen-contenido" src="images/meditadoresDos.png" alt="imagen del meditador">
        </div>
        <p style="text-align: center;">Leer más ></p>
      </a>

      <!-- Herramientas -->
      <a class="content-container" href="https://positive-api.online">
        <h3>Herramientas para Creadores</h3>
        <div class="linea-horizontal"></div>
        <p class="texto-contenido">APIs y más...</p>
        <div class="contenedor-imagen" style="background-color: #bce7ff;">
          <img class="imagen-contenido" src="images/herramientas.png" alt="herramientas de creadores">
        </div>
        <p style="text-align: center;">Leer más ></p>
      </a>
    </div>
  </div>

<!-- Footer -->
    <div class="footer">
      <p style="font-size: 1.2rem;">© 2025 Heartenic</p>
      <p style="margin-left: auto; padding-right: 50px; font-size: 1.2rem;">
        Tecnología consciente para el bienestar humano.
      </p>
    </div>
  </body>

</html>

<!-- 
                                                                  =++++                             
                                                        +++      ++****=                            
                                                     =+****=     =****+=                            
                                                    ++******+   =*****++                            
                                                     +*******++ +******=                            
                                                     ++*******+=*******++=+                         
                                                      =+*******+**********++++                      
                                                       +**********************++                    
                                                       =+***********************+                   
                                           +*************************************+  ****            
                                          ++**************************************#######*          
                                     ++++++***++++++++***********#########################*         
                                    =********+=======+####################################*         
                                    =********+=======+###################################**         
                         +*##*+      ++++++++++=======++++++++***#######################**          
                        +#####+                        =======+***##################****            
                        +*####+  =============+=++++++==++++++***#################**++              
                           +   =========++++***###############################*******++             
                               ========+******##############################**********++            
                               +=========++++++******#####################*************++           
                                                    +====++***###########***************+           
                                                    +=====+***##########****************+           
                    +##**********#+   ========+++++++****##############*****************+           
                    +##############+ ========+*******#################******************+           
                    +#############*+ +========+******#################*****************+            
                      *++*+*+*++++     ========++++++++*****##############************#+*           
                                                         +**############################**          
                          +============+++++++++++++++*****###############################+         
                         ====+************#################################################*        
                         ===++***********##################################################**       
          *+**++   ==========+++****########################################################*       
          *#####+  ============+***#########################################################*       
          *####*+  ============+***#########################################################*       
            +++      +===========++++*######################################################*       
                               =======*#####################################################*       
                                +==++++++++++++*+++**++++++*****############################*       
                                                           +*****##########################*        
                      ++           ***********************++*****##########################*        
                    +####*+     +*########################################################*         
                    *#####+     +########################################################*          
                    **###*       *######################################################*           
                                      **###############################################*            
                                       *##############################################*             
                       +############**  **##########################################**              
                      *##############*               *#############################*                
                      **#############*             +*#############################*                 
                                         **######################################*                  
                                         +######################################*                   
                                         +#####################################*#                   
                                                          +####################*                    
                                                          *###################*                     
                                           ******   ******##################*                       
                                           *####** +######################**                        
                                           *####*  +#################**#*                           
                                            *+++     *++++++*******                                                                              
-->
