<!DOCTYPE html>
<html lang="es">
    <head>
        <title>log In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/LogIn.css">
        <link rel="shortcut icon" href="images/logoHeartenic.png">
    </head>
    <body>
        <a href="views/index.html" class="boton-x">
            x
        </a>
        <div class="contenedor-formulario">
            <h1>Iniciar sesión</h1>
            <form action="procesar-formulario" method="POST">
                <!-- Campo de texto -->
                <input
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Tu nombre o email"
                class="campo"
                required >
                <br><br>
        
                <!-- Campo de contraseña -->
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Tu contraseña"
                    class="campo"
                    required >
                <br><br>
        
                <!-- Botón de envío contraseña -->
                <input type="submit" value="Ingresar" class="boton-ingresar">
            </form>
            <!-- Botón de recuperar -->
            <a href="views/404.html" class="boton-recuperar">
                ¿Olvidaste tu contraseña?
            </a>
        </div>
        <p>¿No tienes una cuenta?</p>
        <a href="views/404.html" class="boton-registro">
            regístrate
        </a>
    </body>
</html>