<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Log In</title>
      <link rel="stylesheet" href="css/soon.css">
      <link rel="shortcut icon" href="images/logoHeartenic.png">
  </head>
  <body>
  <!-- Barra fija superior -->
      <div class="barra-superior">
        <a href = "index.html">
          <img class="logo" src="images/logoHeartenic.png" alt="Logo Heartenic">
        </a>
        <h1>Cuenta Heartenic</h1>
      </div>

  <!-- Inicio pagina -->
      <div class="espacio-inicio"></div>

      <p><strong>Muy Pronto</strong> podras crear tu cuenta <strong>Heartenic</strong>...</p>

      <img class="aura" src="images/aura.png" alt="aura naranja y rosa">

      <p>Con ella, podras <strong>administrar y personalizar</strong> todas nuestras herramientas.</p>


  <!-- Footer -->    
      <div class="footer">
        <p style="padding-left: 30px; font-size: 1.2rem;">© 2025 Heartenic</p>
        <p style="padding-right: 30px; margin-left: auto; font-size: 1.2rem;">
          Tecnología consciente para el bienestar humano.
        </p>
      </div>
  </body>
</html>