
/* todos los elementos HTML, 'reset' quitando estilos del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: order-box;
  }
  
  /* todos los elementos HTML en el cuerpo (atributos generales de la pagina) */
  body {
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    background: OldLace;
    color: #212529;
    padding: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    color: inherit; /* Mantiene el color del texto original */
  }
  
  a:hover {
    text-decoration: none;
  }

  .button {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    background: #d94b71;
    color: white;
    border-radius: 32px;
    height: 4%;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 75px;
    font-weight: 450;
    transition: all 0.3s ease;
  }

  .button:hover {
    transform:scale(1.01); /*Zoom*/
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.3));
    font-weight: 550;
    background: #d33962;
  }

  /* Estilo del título */
  h1 {
    font-size: 3.5rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
    left: 47%;
  }

  /* Estilo del título */
  h2 {
    font-size: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 20px;
    color: #2c3e50;
  }

    /* Estilo del título */
  h3 {
    font-size: 1.6rem;
    color: #2c3e50;
    text-decoration: none;
  }
  
  /* Estilo del párrafo */
  p {
    font-size: 1.5rem;
    color: #4d4d4d;
    margin-top: 1.5rem;
    max-width: 870px;
    text-align: justify;
  }

  .meditador-uno {
    filter: drop-shadow(0 12px 8px rgba(0,0,0,0.5));
    width: 27%;
    margin-top: 30px;
    transform: rotate(-13deg); /* Rota la imagen 45 grados */
    object-fit: contain;
  }

  .meditador-mano {
    width: 40%;
    margin-top: 30px;
    mask-image: linear-gradient(to bottom, black 93%, transparent 100%);
    object-fit: contain;
  }

  table {
    padding: 20px;
    font-size: 1.2rem;
    color: #4d4d4d;
    margin-top: 4.5rem;
    max-width: 870px;
    text-align: left;
    border-width: 2px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde (obligatorio para que se vea) */
    border-color: rgb(201, 189, 175);
    border-radius: 8px;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.1)); /* Sombra suave */
    background-color: rgb(245, 233, 215);
  }

  th {
    padding: 15px;
  }

  td {
    padding: 15px;
    border-width: 2px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde (obligatorio para que se vea) */
    border-color: rgb(201, 189, 175);
  }

  li {
    font-size: 1.5rem;
    color: #4d4d4d;
    margin-top: 2rem;
    max-width: 800px;
    text-align: justify;
    margin-left: 80px;
  }

  .linea-horizontal {
    height: 1px;           /* Grosor de la línea */
    width: 80%;
    border: none;          /* Elimina el borde por defecto (si lo hay) */
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: rgb(201, 189, 175);
  }

  .footer{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 50px;
    background-color: OldLace;
    bottom: 0;          /* Pegada arriba */
    left: 0;         /* Pegada a la izquierda */
    width: 100%;     /* Ancho completo */
    z-index: 1000;
    margin-top: 180px;
  }

    .barra-superior{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15px;
    padding-bottom: 12px;
    background-color: OldLace;
    position: fixed;  /* Fija la barra */
    top: 0;          /* Pegada arriba */
    left: 0;         /* Pegada a la izquierda */
    width: 100%;     /* Ancho completo */
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.4));
    z-index: 1000;
    gap: 27%;
  }

  .espacio-inicio{
    height: 160px;
  }

  /*Estilo imagen*/
  .logo {
    width: 80px;
    object-fit: contain;
    margin-top: 0.3rem;
    margin-left: auto;
    margin-left: 3rem;
    transition: all 0.3s ease;
  }

  .logo:hover {
    transform:scale(1.03); /*Zoom*/
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.3));
  }

  @media (orientation: portrait) {

  .espacio-inicio{
    height: 110px;
  }

    .logo {
      max-width: 60px;
      margin-left: auto;
      margin-left: 1.9rem;
    }

    h1 {
      font-size: 1.5rem;
      margin-top: 20px;
      left: 46%;
    }

    .barra-superior{
    gap: 9%;
    }

    .button {
      font-size: 1.1rem;
      margin-top: 50px;
      margin-right: 1.4rem;
      margin-bottom: 0.3rem;
      font-weight: 500;
      padding-left: 10px;
      padding-right: 10px;
    }

    h2 {
      font-size: 1.8rem;
      margin-top: 1rem;
    }

    h3 {
      font-size: 1.4rem;
      margin-top: 1.5rem;
    }

    p {
      font-size: 1.2rem;
      margin-left: 12px;
      margin-right: 12px;
      max-width: 80%;
    }

    .meditador-uno {
      width: 80%;
    }

    .meditador-mano {
      width: 100%;
    }

    li {
      font-size: 1.2rem;
      margin-left: 50px;
      margin-right: 12px;
      max-width: 80%;
    }

    table {
      font-size: 1rem;
      width: 75%;
    }

    .linea-horizontal {
      width: 80%;
      margin-top: 2rem;
      margin-bottom: none;
    }

    .footer{
      display: block;
      margin-top: 120px;
    }
  }