/* todos los elementos HTML, 'reset' quitando estilos del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: order-box;
  }
  
  /* todos los elementos HTML en el cuerpo (atributos generales de la pagina) */
  body {
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    background: OldLace;
    color: #212529;
    padding: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    color: inherit; /* Mantiene el color del texto original */
  }
  
  a:hover {
    text-decoration: none;
  }

  .button {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    background: #d94b71;
    color: white;
    border-radius: 32px;
    height: 4%;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 75px;
    font-weight: 450;
  }

  .button:hover {
    transform:scale(1.01); /*Zoom*/
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.3));
    font-weight: 550;
    background: #d33962;
    transition: all 0.3s ease;
  }

  /* Estilo del título */
  h1 {
    font-size: 3.5rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }

  /* Estilo del título */
  h2 {
    font-size: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 20px;
    color: #2c3e50;
  }

    /* Estilo del título */
  h3 {
    font-size: 1.6rem;
    color: #2c3e50;
    text-decoration: none;
  }
  
  /* Estilo del párrafo */
  p {
    font-size: 1.8rem;
    color: #4d4d4d;
    margin-top: 1rem;
    max-width: 35%;
    text-align: center;
  }

  .aura{
    max-width: 31%;
    object-fit: contain;
    margin: none;
    padding: none;
  }

  li {
    font-size: 1.5rem;
    color: #4d4d4d;
    margin-top: 2rem;
    max-width: 800px;
    text-align: justify;
    margin-left: 80px;
  }

  .linea-horizontal {
    height: 1px;           /* Grosor de la línea */
    width: 80%;
    border: none;          /* Elimina el borde por defecto (si lo hay) */
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: rgb(201, 189, 175);
  }

  .footer{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: OldLace;
    bottom: 0;          /* Pegada arriba */
    left: 0;         /* Pegada a la izquierda */
    width: 100%;     /* Ancho completo */
    z-index: 1000;
    margin-top: 180px;
  }

  .barra-superior{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15px;
    padding-bottom: 12px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(40px); /* Efecto de desenfoque en el fondo */
    position: fixed;  /* Fija la barra */
    top: 0;          /* Pegada arriba */
    left: 0;         /* Pegada a la izquierda */
    width: 100%;     /* Ancho completo */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    gap: 32%;
  }

  .espacio-inicio{
    height: 180px;
  }

  /*Estilo imagen*/
  .logo {
    width: 80px;
    object-fit: contain;
    margin-top: 0.3rem;
    margin-left: auto;
    margin-left: 3rem;
    transition: all 0.3s ease;
  }

  .logo:hover {
    transform:scale(1.03); /*Zoom*/
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.3));
  }

    /* Ajuste para pantallas 1440p o superiores */
  @media (min-width: 2560px) {
      .content-container {
          backdrop-filter: blur(60px); /* Más difuminado en 4K */
      }
  }

  @media (orientation: portrait) {

    .espacio-inicio{
        height: 120px;
    }

    .aura{
        max-width: 85%;
    }

    .boton-admins{
        font-size: 1rem;
        text-decoration: none;
        color: #2c3e50;
        max-width: 200px;
        margin-top: 20px;
        margin-left: 0%;
    }

    .logo {
      max-width: 60px;
      margin-left: auto;
      margin-left: 1.9rem;
    }

    h1 {
      font-size: 1.5rem;
      margin-top: 20px;
      margin-left: 0;
      margin-right: 0;
    }

    .barra-superior{
      gap: 11%;
      backdrop-filter: blur(30px); /* Más difuminado en 4K */
    }

    .button {
      font-size: 1.1rem;
      margin-top: 50px;
      margin-right: 1.4rem;
      margin-bottom: 0.3rem;
      font-weight: 500;
      padding-left: 10px;
      padding-right: 10px;
    }

    h2 {
      font-size: 1.8rem;
      margin-top: 1rem;
    }

    h3 {
      font-size: 1.4rem;
      margin-top: 1.5rem;
    }

    p {
      font-size: 1.2rem;
      margin-left: 12px;
      margin-right: 12px;
      max-width: 80%;
    }

    .linea-horizontal {
      width: 80%;
      margin-top: 2rem;
      margin-bottom: none;
    }

    .footer{
      display: flex;
      margin-top: 120px;
      flex-direction: column;
      justify-content: center; /* Centra los elementos horizontalmente */
      align-items: center;
    }
  }